.app-ensure {
  padding: 10px;
}
.stylelinks a  {
  cursor: help;
  text-transform: uppercase;
  text-decoration: none;
}
.stylelinks a::before {
  content: ">";
}
.stylelinks a::after {
  content: "<";
}

